body {
    font-family: 'Open Sans', arial, sans-serif;
		color: #666;
}

h1 { 
		color: #333;
}

h2 { 
		color: #2e5c8a;
		font-size: 18px;
}

header, article, h3, textarea {
		width: 854px; 
}

/* Above and below the text area for editor UI*/
nav { 
		width: 860px; 
		margin: 0px;
}

/* The filename */
h3 { 
		margin: 0px;
		font-family: monospace;
		font-size: 12px;
		background-color: #ddd;
		font-weight: 100;
		color: rgb(17, 119, 0); /* Using CodeMirror style rather than  #99cc66; */
		border: 1px solid #222;
		border-top: none;
		padding: 3px;
		margin-bottom: 15px;
} 

#filename { 
		color: rgb(170, 85, 0); /* CodeMirror style */ 
} 

#filetype { 
}

a:link { 
		color: #b87a3d;
}

a:visited {
		color: #6699cc;
}

nav ul { 
		margin: 0px;
		padding: 0px;
		width: 100%;
		background: #aaa;
		font-family: Arial;
		font-size: 11px;
		color: #222;
		border: 1px solid #222;
		border-bottom: none;
}

nav ul li { 
		display: inline-block;
		margin: 0px;
		padding: 5px;
}

sidebar {
		width: 300px;
		float: right;
		padding: 10px;
		border: 1px solid #dddddd;
		border-radius: 10px;
		background: rgb(210, 219, 237);
}

.status {
		border: 1px solid #dddddd;
		padding: 10px;
		width: 300px;
		float: right;
		text-align: right;
		color: #cccc99;
		border-radius: 10px;
}

.or { 

		width: 100%;
		text-align: center;
		font-size: 22px;
		color: #cccc99;
}

object {
		width: 100px;
		height: 30px; 
}

select  {
		width: 100%;
		color: #444;

}

option { 
		border-bottom: 1px solid #aaa;
}


#editContainer { 
		width: 860px;
}
/* codemirror styles */
.CodeMirror {
		border: 1px solid #333;
		font-size: 15px;
		height: 300px; /* Defined by default for .CodeMirror-gutter */
		width: 100%;
}
