body {
    font-family: 'Open Sans', arial, sans-serif;
		color: #666;
		background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
		linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
		background-size:60px 60px;
		background-position:0 0, 30px 30px
}

h1 { 
		color: #333;
}

h2 { 
		color: #2e5c8a;
		font-size: 18px;
}

/* The filename */
h3 { 
		font-family: monospace;
		background-color: #ddd;
		font-weight: 100;
		color: rgb(17, 119, 0); /* Using CodeMirror style rather than  #99cc66; */
		border: 1px solid #222;
		border-top: none;
		padding: 3px;
		margin: 0px;
		margin-bottom: 15px;
		width: 855px;  /* -1 for Chromebook */
} 

#filename { 
		color: rgb(170, 85, 0); /* CodeMirror style */ 
} 

#filetype { 
}

a:link { 
		color: #b87a3d;
}

a:visited {
		color: #6699cc;
}

nav {
		width: 300px;
		float: right;
		padding: 10px;
		border: 1px solid #dddddd;
		border-radius: 10px;
		background: rgb(210, 219, 237);
}

.status {
		border: 1px solid #dddddd;
		padding: 10px;
		width: 300px;
		float: right;
		text-align: right;
		color: #cccc99;
		border-radius: 10px;
}

.or { 

		width: 100%;
		text-align: center;
		font-size: 22px;
		color: #cccc99;
}

object {
		width: 120px; /* -20 for Chromebook */
		height: 36px; /* -6 for Chromebook */
}

select  {
		width: 100%;
		color: #444;

}

option { 
		border-bottom: 1px solid #aaa;
}


#editContainer { 
		width: 860px;
}
/* codemirror styles */
.CodeMirror {
		border: 1px solid #333;
		font-size: 15px;
		height: 300px; /* Defined by default for .CodeMirror-gutter */
		width: 100%;
}
